tests/results/surrogate.pth
data/X_data.npy
data/y1_data.npy
data/y2_data.npy
data/c_data.npy
data/pix2vid-v2.weights.h5
data/fno_model.pth
data/simulations_64x64x28.npz

simulations/**/*.mat
simulations2D/**/*.mat
simulations3D/**/*.mat
simulations3D_big/**/*.mat

simulations2D/data_*.*
simulations2D/perm_*.*

simulations3D/data_*.*
simulations3D/perm_*.*

simulations3D_big/data_*.*
simulations3D_big/perm_*.*

data/u_train_*.npy
simulations3D_big/facies_318_256x256x128.npy
