
tests/results/surrogate.pth
data/X_data.npy
data/y1_data.npy
data/y2_data.npy
data/c_data.npy
data/pix2vid-v2.weights.h5
data/fno_model.pth
data/simulations_64x64x28.npz

simulations/**/*.mat
simulations3D/**/*.mat

simulations3D/data_*.*
simulations3D/perm_*.*

data/u_train_*.npy